/**
 *
 */
/** html tags **/

body{
	font-family: Arial;
	color: #60496d;
	background-color: #fff;
	margin: 10px 0px;
}

a{
	font-style: none;
	text-decoration: none;
	color: inherit;
}

/** classes **/

.content .title{
	height: 70px;
	border-bottom: solid 4px #e9bd0f;
}

.content .title{
	padding-left: 10px;
}

.content .title h1{
	float: left;
	margin: 0px;
	font-size: 40px;
}

.content .title .subtitle{
	float: left;
	margin-top: 18px;
	font-size: 20px;
	margin-left: 20px;
}

.content .footer{
	height: 70px;
	border-top: solid 4px #e9bd0f;
}

.content .main{
	min-height: 200px;
}

/** helping classes **/

.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom:1;
}

.merah{
	color: #a70000;
}

.purple{
	color: #60496d
}

.orange{
	color: #e9bd0f;
}

.hand{
	cursor:pointer;
}